/* @font-face {
    font-family: 'invaders';
    src: url('../assets/space_invaders')
} */
/* 
@font-face {
    font-family: "Space invaders";
    src: url(../assets/space_invaders/space_invaders.ttf);
} */
@font-face {font-family:"space invaders Regular";
src:
url("../assets/space_invaders_regular/space_invaders_Regular/space_invaders.ttf") format("truetype");
font-weight:normal;font-style:normal;}





body {
    margin: 0 ;
    padding: 0;
    /* font-family: invaders; */
    background-image: url('../assets/abstract-colorful-geometric-hipster-pattern-elements-on-black-mosaic-background-and-retro-80-s-texture-vector.jpg');
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#audio {
    display: none;
}

div {
    font-family: 'space invaders Regular';
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    background-color: black;
    border: 6px solid red ;
    padding: 45px;
    

}

button {
    
    /* -webkit-transition: 1s linear; */
    transition: .2s linear;
    font-family: 'space invaders Regular';
    font-size: xx-large;
    border-radius: 10%;
    background-color: red;
    padding: 30px;
}

/* .box{
  background-color: #F1C40F;
} */
button:hover{
  /* -webkit-box-shadow: 10px 10px 14px 2px rgba(26, 1, 255, 0.47); */
  box-shadow: 10px 10px 14px 2px rgba(255, 0, 0, 0.47);
}

.hideBtn {
    transition: 5s;
    display: none;
}

canvas {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    margin-top: 4em;
    /* margin-bottom: auto; */
    border: 7px solid red;
    background-color: rgb(53, 53, 53);


}

