@font-face {
    font-family: "space invaders Regular";
    src:
        url("../assets/space_invaders_regular/space_invaders_Regular/space_invaders.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}





body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/abstract-colorful-geometric-hipster-pattern-elements-on-black-mosaic-background-and-retro-80-s-texture-vector.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

#audio {
    display: none;
}

div {
    font-family: 'space invaders Regular';
    color: white;
    font-size: x-large;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 25px;
}

button {
    transition: .2s linear;
    font-family: 'space invaders Regular';
    font-size: xx-large;
    border-radius: 10px;
    background-color: #71d7f0;
    padding: 30px;
}

#easy:hover {
    padding: 40px;
    box-shadow: 5px 5px 0px .5px rgba(255, 255, 255, 1);
}

#mid:hover {
    padding: 40px;
    box-shadow: 5px 5px 0px .5px rgba(255, 255, 255, 1);
}

#hard:hover {
    padding: 40px;
    box-shadow: 5px 5px 0px .5px rgba(255, 255, 255, 1);
}

#ironhacker:hover {
    padding: 40px;
    box-shadow: 10px 10px 0px 2px rgba(255, 255, 255, 1);
}

.border {
    border: 6px solid #eb2d6d;
}

.hideBtn {
    transition: 5s;
    display: none;
}

#easy {
    font-size: medium;
    color: white;
    background-color: #02a42c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

#mid {
    font-size: medium;
    background-color: #fedf2d;
    margin: 30px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

#hard {
    font-size: medium;
    background-color: #eb2d6d;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

#ironhacker {
    background-color: #71d7f0;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

canvas {
    margin-top: 4em;
    border: 7px solid #eb2d6d;
    background-color: rgb(53, 53, 53);
}

.gameOver {
    background-color: black;
}